* {
  box-sizing: border-box;
}

@font-face {
font-family: "Rochester";
src: url('Rochester-Regular.ttf');
}

body{
  background: #492a03;
  color: #b55f0c;
  font-family: 'Rochester';
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
}

#entete{
  text-align: center;
  background: yellowgreen;
  height: 20vh;
  font-size: 1.5em;
}

#entete:nth-child(1n) {
  width: 100%;
}


#minuteur{
  font-size: 4vh;
}

#carte {
  flex: 3;
  min-height: 100%;
}

#mapid {
  flex: 3;
  min-height: 60vh;
  justify-content: center;
  border: solid #b05d0c;
}

.leaflet-popup-content-wrapper {
  font-family: 'Rochester';
  border: solid #b05d0c;
  font-size: 1.5em;
}

.leaflet-popup-tip {
  border: solid #b05d0c;
}

#inventaire{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex:6;
  justify-content: space-between;
  color:#492a03;
  flex: 1;
  background: #b55f0c;
  border-radius: 5px;
}

#titre{
  flex=1;
  border: solid #492a03;
  font-size: 3vh;
}

#depot{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex:3;
  justify-content: space-between;
  flex=5;
}

.carre{
  flex:1;
  background: #7e4607;
  border: solid #492a03;
  margin:2%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
