@font-face {
font-family: "Rochester";
src: url('Rochester-Regular.ttf');
}

body{
  background: #492a03;
  color: #b55f0c;
  font-family: 'Rochester';
  text-align: center;
}

#bouton{
  text-align:left;
}

#main{
  font-size: 2em;
}

#image1{
  width: 25%;
  height: 25%;
  border: solid #b05d0c;
}

#fin{
  width:300px;
  height: 40px;
  background: #b05d0c;
  color: #eecc07;
  font-family: 'Rochester';
  font-size: 1em;
  border: solid #b05d0c;
  border-radius:5px;
}
