@font-face {
font-family: "Rochester";
src: url('Rochester-Regular.ttf');
}

body{
  background: #492a03;
  color: #b55f0c;
  font-family: 'Rochester';
  text-align: center;
}

h1{
  color: #eecc07;
  line-height: 0.000001em;
  word-spacing: 0.3em;
}

h2{
  font-size: 1.5em;
}

#utilisateur{
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
}

#soumettre{
  width:300px;
  height: 40px;
  background: #b05d0c;
  color: #eecc07;
  font-family: 'Rochester';
  font-size: 1.5em;
  border: solid #b05d0c;
  border-radius:5px;
}

#pains{
  width: 22%;
  height: 22%;
}
