@font-face {
font-family: "Rochester";
src: url('Rochester-Regular.ttf');
}

body{
  background: #492a03;
  color: #b55f0c;
  font-family: 'Rochester';
  text-align: center;
}

#perdu{
  font-size: 7vh;
}

#dommage{
  width: 20%;
  height: 20%;
}

#stupide{
  font-size: 4vh;
}

#bouton{
  text-align:left;
}
