@font-face {
font-family: "Rochester";
src: url('Rochester-Regular.ttf');
}

body{
  background: #492a03;
  color: #b55f0c;
  font-family: 'Rochester';
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  flex:9;
}

#bouton{
  flex:1;
  text-align:left;
}

#main{
  flex:8;
}

#entete{
  flex:1;
}

#contenu{
  display: flex;
  min-height: 20vh;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  background: #492a03;
  flex:7;
}

#table_score{
  margin: 20px;
  border: medium solid black;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
  border-collapse: collapse;
  width: 40%;
  align-content: center;
}

th {
  border: thin solid #492a03;
  color: #492a03;
  width: 50%;
  padding: 5px;
  background-color: #b55f0c;
}
td {
  border: thin solid #b55f0c;
  color: #492a03;
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color: #eecc07;
}
